*{
    margin: 0;
    padding: 0;                             
    box-sizing: border-box;
}

header{
    display: flex;
    margin-left: 0;
    background-color: white;
}
h1{
    margin-left: 2px;
    margin-top:2px;
}

.logo{
    margin-top:2px;
    margin-left: 2px;
}

main{
    padding:20px;
    background-color: rgb(251, 247, 247);
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 10px
;}

.onlybutton{
   background-color: cornflowerblue;
   margin-top: 20px;
   margin-left: 50px;
   width: 90px;
   color: white;
   text-align: center;
   height: 30px;
   border-radius: 20%;
}

button{
   background-color: rgb(247, 249, 251);
   margin-top: 20px;
   margin-left: 5px;
   width: 90px;
   color: rgb(163, 162, 162);
   text-align: center;
   height: 30px;
   border-radius: 20%;
}

h2{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    margin-top: 20px;  
    margin-left: 10px ;

}

body{
    background-color: rgb(217, 217, 217);
}

.paragraph{
    font-family: 'Times New Roman', Times, serif;
    margin: left 10%; ;
    margin-top: 5px;
    padding-left: 50px;
    font-size: 18px;
    line-height: 8px;
}

hr{
    margin-top: 15px;
height: 3px;;
background-color: gray;
margin-left: 15px;
margin-right: 15px;
}

.article{
    border-radius: 10px;
    height: 10px;
}

.circle{
border-radius: 40%;
width: 30px;
height: 30px;
background-color: white;
text-align: center;
border: 2px solid blue;
display: inline-block;
vertical-align: middle;
line-height: 30px;
}

.circle-v{
    margin-right:12px;
    color: blue;
    font-size: 15px;
    border-color: blue;
}

.circle-x{
    margin-right:12px;
    color: rgb(255, 60, 0);
    font-size: 15px;
    border-color:rgb(255, 60, 0);
}

.bigcircle{
padding: 18px;
border-radius: 999px;
margin-left: 18px;
width: 120px;
height: 25px;
text-align: center;
display: inline-block;
line-height: 8px;
color: white;
font-size: 18px;
}

.Editorial {
background-color: blue;
border: 2px solid blue;
}

.q1{
    background-color: purple;
    border: 2px solid purple;
}

.recruting{
    background-color: green;
    border: 2px solid green;
}

.mobile{
    background-color: orange;
    background-color: 2px solid orange;
}

.web{
    background-color: pink;
    border: 2px solid pink;
}


.sales{
    background-color: rgb(138, 138, 33);
    border: 2px solid rgb(138, 138, 33);
}